black==25.1.0
click==8.2.1
colorama==0.4.6
mypy-extensions==1.1.0
numpy==2.3.2
pathspec==0.12.1
platformdirs==4.4.0
r2pipe==1.9.6
rapidfuzz==3.14.0
semver==3.0.4
-f https://download.pytorch.org/whl/cu129
torch==2.8.0
tqdm==4.67.1
typing_extensions==4.15.0
